body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.one {
background-color: #1f2937;
flex-grow: 5;
}

.two {
background-color: #f9faf8;
flex-grow: 4;
}

.three {
background-color: #e5e7eb;
flex-grow: 3;
}

.four {
background-color: #f9faf8;
flex-grow: 2;
}

.five {
background-color: #1f2937;
flex-grow: 1;
}